* {
  color: whitesmoke;
}

li:hover {
  background-color:#004099;
  cursor: pointer;   
}

button {
  color: black;
}

.preview-error {
  color: rgba(255, 255, 255, 0.4);
}

audio {
  width: 10rem;
}